<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>VeloRoute</title>
    <style>
        .img {
            width: 250px;
        }
    </style>
</head>
<body>
    <ul>
        <li>
            <a href="/routes/">Маршруты</a>
        </li>
        <li>
            <a href="/reports/">Отчеты</a>
        </li>
        <img class="img" src="https://lh3.googleusercontent.com/pw/AP1GczP-fbaI3GFmpG4XsvYG6NYSoYpNtb31-OdBfn6MBbTbYDZREBXdv-rGYjwwE4jMiYsFa5DumHkUrWxGdBxPUv6_WeF8nm8Vlvuubzs4BchBA7T_rENmF80ntOWFZ1wEDvawiVOsEYSimNAIdaYYjHM=w1280-h960-s-no-gm" alt="">
    </ul>
</body>
</html>